body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

.logo {
  cursor: pointer;
  color: #00e5ff;
}

/* BOTONES NAV */
.nav-buttons button {
  margin-left: 10px;
}

/* BOTONES GENERALES */
button {
  background: linear-gradient(45deg, #00e5ff, #0077ff);
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.08);
}

/* CONTENEDOR */
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* TARJETAS */
.viewer, .panel {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 15px;
}

/* BOTONES EXTRA */
.extra-buttons {
  margin-top: 20px;
}

/* TEXTO */
.detected-text {
  font-size: 18px;
  margin-top: 10px;
}
