/* RESET GENERAL (quita estilos raros de Vite) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* Quitar centrado automático de Vite */
body {
  display: block;
}
